<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to a Webex Platform demo on Glitch!</title>
    <meta name="description" content="A cool Webex Programmable Platform demo made with Glitch">
    <link id="favicon" rel="icon" href="https://raw.githubusercontent.com/cisco/cisco.github.io/master/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/collab-ui.min.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>

    <!-- import flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  </head>
  <body>
    
    <div id="container" align="center" style="margin: 10px; align-content: center;">
      
    
    <header>
      <h1>
        Webex Moment
      </h1>
      <image style="height:50%;width:50%" src="https://cdn.glitch.com/e627e173-ddba-434f-ad34-e11549d64430%2FIllustration_cat.png?v=1562876301263"></image>
      <br><br>
      <h2>
        Time bound hyperlinks for Guest video calls!
      </h2>
    </header>

    <main>
      <br>
      <section class="dreams" id="guest_info_section">
      <p class="bold"><h4>Where should we connect the Guest to?</h4>
      <input class="cui-input" type="email" placeholder="SIP URI " id="sipuri" required>
      </p><br>
      <p class="bold"><h4>Who should they connect as?</h4>
      <input class="cui-input" type="text" placeholder="Display Name" id="displayname" required>
      </p><br>
      <p class="bold"><h4>When should this link expire?</h4>
      <h5 id="selected_expiry">
        Time/Date?
      </h5>
        <!--input type="text" id="flatpckr" required="true" autocomplete="off" --> 
        
        <i id="flatpckr" style="color:#000000" class="cui-icon icon icon-calendar-month_36"></i>
        </p>  

      <button id="create_button" class="cui-button">
        Create a Moment  
      </button>  
      </section>
    
      <section>
        <div>
          <br>
          <p id="messages"></p>
        </div>
      </section>  
      
      <section class="dreams" id="send_as_email_section" style="display:none;">
      <br><br>  
      <input id="email" class="cui-input" name="email" type="email" placeholder="Email Address"><br>   
    
      <button id="send_button" class="cui-button">
        Email this Moment
      </button> 
       <br><br> 
      <button id="reload_button" class="cui-button" onclick="window.location.reload();">
        Create another Moment
      </button>   
      </section>
  
  
      

<!-- Show more modal -->
<div class="cui-modal__backdrop fade in">
  <div
    role="dialog"
    id="react-aria-modal-dialog"
    class="cui-modal cui-modal--small in"
    aria-labelledby="modal3"
  >
    <div class="cui-modal__content" id="testmodal">
      <div class="cui-modal__flex-container">
        <div class="cui-modal__header">
          <span class="cui-modal__title">Small Modal</span>
          <button class="cui-close cui-modal__close"></button>
        </div>
        <div class="cui-modal__body"><form></form></div>
        <div class="cui-modal__footer">
          <button
            class="cui-button cui-button--36 cui-button--default"
            alt="Close Modal"
            type="button"
            aria-label="Close Modal"
          >
            <span class="cui-button__children" style="opacity: 1;">Cancel</span>
          </button>
          <button
            class="cui-button cui-button--36 cui-button--blue"
            alt="Submit Form"
            type="submit"
            aria-label="Submit Form"
            onclick="document.getElementById('testmodal').closeModal()"
          >
            <span class="cui-button__children" style="opacity: 1;">OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
      
      
      

    </main>
    <br><br> 
    <footer>
      Made by <a href="https://cisco.com">Cisco</a>! Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </div>
  </body>
  
<!--
  <script>
      let picked_date;
    
      flatpickr("#flatpckr", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
        onChange: function(selectedDates, dateStr, instance) {
          console.log(`selection changed ${dateStr} `);
          picked_date = dateStr;
          document.getElementById('selected_expiry').innerHTML = picked_date;
        },
        allowInput: true,
        //time_24hr: true
      });
    
    
      let create_button = document.getElementById('create_button');
      create_button.onclick = function (event){
        //event.preventDefault();
        try {
          create_message_object()
          //.then((message) => validate_message_object(message))
          .then((result) => {
            console.log (result)
            if (result){
              post_data();
            } else {
              
            }
          });
        } 
        catch (err){
          console.log(err);
        }

      }
      let message = {};
      async function create_message_object(){
        //let message = {};
        //message.expiry_date = document.getElementById('flatpckr').value;
        message.expiry_date = picked_date;
        message.sip_target = document.getElementById('sipuri').value;
        //message.send_email = document.getElementById('email').value;
        //message.send_sms = document.getElementById('sms').value;
        return message;
      };
    
      async function validate_message_object(message){
        if(!message.expiry_date || !message.sip_target){
          //console.log(`Bad data`);
          showMessage(`{"error":"Oops, you seem to be missing something.."}`);
          return false;
        } else {
          console.log (JSON.stringify(message));
          document.getElementById('selected_expiry').innerHTML = message.expiry_date;
          return true;
        }
      };
    
      async function post_data(){
        fetch('/create_url', { 
          method: 'POST', 
          credentials: 'same-origin',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(message),
        })
        .then(handleResponse)
        .then(showMessage)
        .catch(function(err) {
          showMessage(err.message);
        });
      };
    
      function showMessage(message) {
        //messages.textContent += `\n${message}`;
        messages.textContent = `\n${message}`;
        messages.scrollTop = messages.scrollHeight;
        console.log(JSON.parse(message));
        if((JSON.parse(message)).url){
          console.log(`URL found - ${(JSON.parse(message)).url}`)
        };
      }

      function handleResponse(response) {
        return response.ok
          ? response.json().then((data) => JSON.stringify(data, null, 2))
          : Promise.reject(new Error('Unexpected response'));
      }
    
  </script>
-->  
</html>
