<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to a Webex Platform demo on Glitch!</title>
    <meta name="description" content="A cool Webex Programmable Platform demo made with Glitch">
    <link id="favicon" rel="icon" href="https://raw.githubusercontent.com/cisco/cisco.github.io/master/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/collab-ui.min.css">
    <link rel="stylesheet" href="/momentum-ui.min.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    

    <!-- import flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  </head>
  <body>
    
    <div id="container" align="center" style="margin: 10px; align-content: center;">
      
    
    <header>
      <h1>
        Webex Moment
      </h1>
      <image style="height:50%;width:50%" src="https://cdn.glitch.com/e627e173-ddba-434f-ad34-e11549d64430%2FIllustration_cat.png?v=1562876301263"></image>
      <br><br>
      <h2>
        Time bound hyperlinks for Guest video calls!
      </h2>
    </header>

    <main>
      <br>
      <section class="dreams" id="guest_info_section">
      <p class="bold"><h4>Where should we connect the Guest to?</h4>
      <input class="cui-input" type="email" placeholder="SIP URI " id="sipuri" required>
      </p><br>
      <p class="bold"><h4>Who should they connect as?</h4>
      <input class="cui-input" type="text" placeholder="Display Name" id="displayname" required>
      </p><br>
      <p class="bold"><h4>When should this link expire?</h4>
      <h5 id="selected_expiry">
        Select a Time/Date
      </h5>
        <!--input type="text" id="flatpckr" required="true" autocomplete="off" --> 
        
        <i id="flatpckr" style="color:#000000" class="md-button--circle md-button--48 cui-icon icon icon-calendar-month_36"></i>
        </p>  
      <br>
      <button id="create_button" class="cui-button">
        Create a Moment  
      </button>  
      </section>
    
      <section>
        <div>
          <br>
          <p id="messages"></p>
        </div>
      </section>  
      
      <section class="dreams" id="send_as_email_section" style="display:none;"> 
      <br><br>  
      <h3><strong>
        DO NOT USE! WIP!  
      </strong></h3>   
      <input id="send_to_email" class="cui-input" name="email" type="email" placeholder="Email Address">      
      <button id="send_as_email_button" class="md-button md-button--circle md-button--48" onclick="send_to_email()">
      <i class="cui-icon icon icon-email-invite_16"></i>
      </button> 
       <br><br> 
      <input id="send_to_mobile" class="cui-input" name="phone" type="number" placeholder="Mobile number">      
      <button id="send_as_sms_button" class="md-button md-button--circle md-button--48" onclick="send_to_sms()">
      <i class="cui-icon icon icon-broadcast-message_16"></i>
      </button> 
       <br><br> 

      <button id="reload_button" class="cui-button" onclick="window.location.reload();">
        Create another Moment
      </button>   
      </section>
  
    </main>
    <br><br> 
    <footer>
      Made by <a href="https://cisco.com">Cisco</a>! Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

<!-- -->


<!-- -->
    
  </div>
  </body>
  

</html>
