<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/collab-ui.min.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>

    <!-- import flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  </head>
  <body>
    
    <div id="container" align="center" style="margin: 10px; align-content: center;">
      
    
    <header>
      <h1>
        Webex Vaporware
      </h1>
      <image style="height:50%;width:50%" src="https://cdn.glitch.com/e627e173-ddba-434f-ad34-e11549d64430%2FIllustration_cat.png?v=1562876301263"></image>
      <br><br>
      <h2>
        Volatile hyperlinks for Guest video calls!
      </h2>
    </header>

    <main>
      <br>
      <section class="dreams">
      <p class="bold"><h4>Where should we connect the Guest to?</h4>
      <input class="cui-input" type="email" placeholder="SIP URI " id="sipuri" required>
      </p>
      </section>
      <br>
        
      <section class="dreams">
        <p class="bold"><h4>When should this link expire?</h4>
        <div type="text" id="expiry_value" style="display:none">Time</div>
        
        <i id="flatpckr" style="color:#000000" class="cui-icon icon icon-calendar-month_36"></i>
        </p>  
      </section>
      <br>
      <section class="dreams">
      <button id="create_button" class="cui-button">
        Create Link  
      </button>   
      <p id="messages"></p> 
      </section>
      <br>
      <section class="dreams">
      <br><br>  
      <input id="email" class="cui-input" name="email" type="email" placeholder="Email Address"><br>   
      </section>
      
      <section class="dreams">
      <button id="send_button" class="cui-button">
        Send  
      </button> 
      </section>
      
      
      

    </main>
    <br><br> 
    <footer>
      Made by <a href="https://cisco.com">Cisco</a>! Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </div>
  </body>
  
  <script>
    
      flatpickr("#flatpckr", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
        onChange: function(selectedDates, dateStr, instance) {
          console.log(`selection changed ${dateStr} `);
        },
        allowInput: true,
        //time_24hr: true
      });
    
    
      let create_button = document.getElementById('create_button');
      create_button.onclick = function (event){
        //event.preventDefault();
        try {
          create_message_object()
          .then((message) => validate_message_object(message))
          .then((result) => {
            console.log (result)
            if (result){
              post_data();
            } else {
              
            }
          });
        } 
        catch (err){
          console.log(err);
        }

      }
      let message = {};
      async function create_message_object(){
        //let message = {};
        message.expiry_date = document.getElementById('flatpckr').value;
        message.sip_target = document.getElementById('sipuri').value;
        message.send_email = document.getElementById('email').value;
        message.send_sms = document.getElementById('sms').value;
        return message;
      };
    
      async function validate_message_object(message){
        if(!message.expiry_date || !message.sip_target){
          console.log(`Bad data`);
          return false;
        } else {
          console.log (JSON.stringify(message));
          return true;
        }
      };
    
      async function post_data(){
        fetch('/create_url', { 
          method: 'POST', 
          credentials: 'same-origin',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(message),
        })
        .then(handleResponse)
        .then(showMessage)
        .catch(function(err) {
          showMessage(err.message);
        });
      };
    
      function showMessage(message) {
        //messages.textContent += `\n${message}`;
        messages.textContent = `\n${message}`;
        messages.scrollTop = messages.scrollHeight;
      }

      function handleResponse(response) {
        return response.ok
          ? response.json().then((data) => JSON.stringify(data, null, 2))
          : Promise.reject(new Error('Unexpected response'));
      }
    
  </script>
  
</html>
