doctype html
head
  title Welcome to a Webex Platform demo on Glitch!
  meta(name='description' content='A cool Webex Programmable Platform demo made with Glitch')
  link#favicon(rel='icon' href='https://raw.githubusercontent.com/cisco/cisco.github.io/master/favicon.ico' type='image/x-icon')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // import the webpage's stylesheet
  // link rel="stylesheet" href="/style.css"
  link(rel='stylesheet' href='/collab-ui.min.css')
  link(rel='stylesheet' href='/momentum-ui.min.css')
  link(rel='stylesheet' href='/css/mystyle.css')
  <!-- Matomo Code -->
  script.
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.webex-vaporware.glitch.me"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.ciscoitevents.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
<!-- End Matomo Code -->
  script(src='https://browser.sentry-cdn.com/5.23.0/bundle.tracing.min.js' crossorigin='anonymous')
  // import the webpage's client-side javascript file
  script(src='/client.js' defer='')
    // import flatpickr
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
  link(rel='stylesheet' type='text/css' href='https://npmcdn.com/flatpickr/dist/themes/dark.css')
  script(src='https://cdn.jsdelivr.net/npm/flatpickr')
header.padit.md-top-bar.md-top-bar--dark(role='navigation')
  .padit.md-top-bar__container
    .md-top-bar__brand
      a.md-brand(href='/')
        .md-brand__logo.md-brand__logo--pad
          // Note: use either image or icon, but not both
          // img src="/assets/spark-logo.svg" alt="Momentum UI"
          i.icon.icon-cisco-logo
        .md-brand__title     Webex Guest Link Generator
#container(align='center' style='margin: 10px; align-content: center;')
  main
    br
    section#guest_info_section.dreams
      p.bold
      h4 Where should we connect the Guest to?
      input#sipuri.cui-input(type='email' placeholder='SIP URI ' required='')
      p
      br
      p.bold
      h4 Who should they connect as?
      input#displayname.cui-input(type='text' placeholder='Display Name' required='')
      p
      br
      p.bold
      h4 When should this link expire?
      h5#selected_expiry
        | Select a Date and Time...
      // input type="text" id="flatpckr" required="true" autocomplete="off"
      i#flatpckr.md-button--circle.md-button--48.cui-icon.icon.icon-calendar-month_36(style='color:#000000')
      p
      br
      button#create_button.cui-button
        | Create Guest Link
    section
      div
        br
        p#messages
    section#send_as_email_section.dreams(style='display:none;')
      br
      br
      input#send_to_email.cui-input(name='email' type='email' placeholder='Email Address')
      button#send_as_email_button.md-button.md-button--circle.md-button--48(onclick='send_to_email()')
        i.cui-icon.icon.icon-email-invite_16
      br
      br
      br
      br
      button#reload_button.cui-button(onclick='window.location.reload();')
        | Create another Moment
  br
  br
  footer
    | Made with 
    a(href='https://developer.webex.com') Cisco Webex
    | !
