<!DOCTYPE html>
<html>
  <head>
    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/collab-ui.min.css" />
    <link rel="stylesheet" href="/momentum-ui.min.css" />
    <style>
      .self {
        background-color: yellow;
        position: absolute;
        width: 200px;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
        z-index: 100;
      }
      .remote {
        background-color: green;
        /*position: absolute;*/
        width: 100%;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
        z-index: 10;
      }
      .remote_video {
        width: 100%;
      }
      .padit {
        padding: 10px;
      }
    </style>
    
    <!-- cookie parser for JS-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
  </head>
  <title>Webex Teams Family Connect</title>
  <body>
    <header class="md-top-bar md-top-bar--dark" role="navigation">
      <div class="md-top-bar__container row">
        <div class="md-top-bar__brand">
          <a class="md-brand" href="#">
            <div class="md-brand__logo">
              <i class="icon icon-cisco-logo"></i>
            </div>
            <div class="md-brand__title"> Family Connect </div>
          </a>
        </div>
        <nav class="md-top-bar__nav ">
            <div class="md-list md-list--horizontal" role="list">

            </div>
          </nav>
      </div>
    </header>

    <form id="destination" class="padit">
      <p>
        Click here to get started
      </p>
      <!--input class="md-button md-button--circle md-button--52 md-button--green" title="call" type="submit" value="Call" /-->
      <!--button class="md-button md-button--circle md-button--52 md-button--red" id="hangup" title="hangup" type="button">X</button-->
    <button
      class="md-button md-button--circle md-button--44 md-button--green"
      alt="answer call with voice only"
      type="submit"
      aria-label="answer call with voice only">
      <span class="md-button__children">
        <i class="icon icon-handset_24"></i>
      </span>
    </button>
    <button
      id="hangup"
      class="md-button md-button--circle md-button--44 md-button--red"
      alt="reject call"
      type="button"
      aria-label="reject call">
      <span class="md-button__children">
        <i class="icon icon-cancel_24"></i>
      </span>
    </button>  
    </form>
    
    

    <div style="display: flex">
      <div id="self" class="self">
        <video style="width:300px" id="self-view" muted autoplay></video>
      </div>

      <div id="remote" class="remote">
        <audio id="remote-view-audio" autoplay></audio>
        <video id="remote-view-video" class="remote_video" autoplay></video>
      </div>
    </div>

    

    <script
      crossorigin
      src="https://unpkg.com/webex@^1/umd/webex.min.js"
    ></script>
    <script src="/sdk.js"></script>
  </body>
</html>
