<!DOCTYPE html>
<html>
  <head>
    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->
    <link rel="stylesheet" href="/collab-ui.min.css" />
    <link rel="stylesheet" href="/momentum-ui.min.css" />
    <style>
      .self {
        background-color: yellow;
        position: absolute;
        width: 200px;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
        z-index: 100;
      }
      .remote {
        background-color: green;
        /*position: absolute;*/
        width: 100%;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
        z-index: 10;
      }
      .remote_video {
        width: 100%;
      }
    </style>
    
    <!-- cookie parser for JS-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
  </head>
  <title>Webex Teams Meetings Quick Start</title>
  <body>
    <header class="md-top-bar md-top-bar--dark" role="navigation">
      <div class="md-top-bar__container row">
        <div class="md-top-bar__brand">
          <a class="md-brand" href="#">
            <div class="md-brand__logo">
              <i class="icon icon-cisco-logo"></i>
            </div>
            <div class="md-brand__title"> Family Connect </div>
          </a>
        </div>
        <nav class="md-top-bar__nav ">
            <div class="md-list md-list--horizontal" role="list">

            </div>
          </nav>
      </div>
    </header>
    <h1>Meetings Quick Start</h1>
    <p>
      This sample demonstrates how remote participants can join video conferences through the Webex JS-SDK embedded in the browser.
    </p>

    <form id="destination">
      <input title="join" type="submit" value="join" />
      <button id="hangup" title="hangup" type="button">cancel/hangup</button>
    </form>
    
    

    <div style="display: flex">
      <div id="self" class="self">
        <video style="width:10%" id="self-view" muted autoplay></video>
      </div>

      <div id="remote" class="remote">
        <audio id="remote-view-audio" autoplay></audio>
        <video id="remote-view-video" class="remote_video" autoplay></video>
      </div>
    </div>

    

    <script
      crossorigin
      src="https://unpkg.com/webex@^1/umd/webex.min.js"
    ></script>
    <script src="/sdk.js"></script>
  </body>
</html>
