<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>THEOplayer 2.X: Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Chromecast SDK -->
    <script
      type="text/javascript"
      src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"
    ></script>

    <!-- THEOplayer library and css -->
    <script
      type="text/javascript"
      src="https://cdn.myth.theoplayer.com/feb05476-30e6-4034-b76b-b5656ef67d4b/THEOplayer.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.myth.theoplayer.com/feb05476-30e6-4034-b76b-b5656ef67d4b/ui.css"
    />
  </head>

  <body>
    <div class="theoplayer-container video-js theoplayer-skin vjs-16-9"></div>

    <script>
      var element = document.querySelector(".theoplayer-container");
      var player = new THEOplayer.Player(element, {
        libraryLocation:
          "https://cdn.myth.theoplayer.com/feb05476-30e6-4034-b76b-b5656ef67d4b"
      });

      // OPTIONAL CONFIGURATION

      player.preload = "auto";
/*
      // Related content configuration
      player.related.sources = [
        {
          image: "//cdn.theoplayer.com/video/big_buck_bunny/poster.jpg",
          title: "Big buck bunny",
          duration: "9:57",
          source: {
            sources: [
              {
                src:
                  "//cdn.theoplayer.com/video/big_buck_bunny/big_buck_bunny.m3u8",
                type: "application/x-mpegurl"
              }
            ]
          }
        },
        {
          image:
            "//cdn2.hubspot.net/hubfs/2163521/Demo_zone/CaminandesLlamaDramaPoster.jpg",
          title: "4K Streaming with THEOplayer",
          duration: "1:30",
          source: {
            sources: [
              {
                src:
                  "//amssamples.streaming.mediaservices.windows.net/634cd01c-6822-4630-8444-8dd6279f94c6/CaminandesLlamaDrama4K.ism/manifest(format=m3u8-aapl)",
                type: "application/x-mpegurl"
              }
            ]
          }
        },
        {
          image: "//cdn.theoplayer.com/video/sintel/poster.jpg",
          title: "Sintel",
          duration: "14:47",
          source: {
            sources: [
              {
                src: "https://cdn.theoplayer.com/video/sintel/nosubs.m3u8",
                type: "application/x-mpegurl"
              }
            ]
          }
        },
        {
          image:
            "//cdn2.hubspot.net/hubfs/2163521/Demo_zone/tears_of_steel_poster.jpg",
          title: "Tears of steel",
          duration: "14:47",
          source: {
            sources: [
              {
                src:
                  "https://cdn.theoplayer.com/video/elephants-dream/playlist-single-audio.m3u8",
                type: "application/x-mpegurl"
              }
            ]
          }
        }
      ]; 
      */
      // Up next configuration
      // Social configuration
      
    </script>
  </body>
</html>
