.avatar-position {
  position: absolute;
  right: 2%;
  top: 25px;
}

.avatar-size {
  height: 40px;
}

.background-class {
  background-size: cover;
}

.box {
  display:flex;
  flex-flow: column;
  height: 100%;
}

.call-button {
  float:left;
}

.copy-button {
  margin-left: 5px;
}

.circle-icon {
  border-radius:50%;
  margin-right:5px;
}

.desktopImg {
  height:25px;
}

.display-radio {
  display:table;
}

.documentation {
	display: none;
	position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
	z-index: 1001;
}

.header-row {
  display: grid;
  margin-top: 10px;
}

.information {
	position: absolute;
  top: 50%;
  left: 50%;
	color: #58585b;
	border-radius: 10px;
	background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
	overflow-y: auto;
}

.informationPortrait {
  width:90%;
}

.link-cell {
  min-width: 100px;
}

.member {
  
}

.member_admit_icon {
  background-color: #00a0d1;
}

.member_admit_button_old {
  padding: 0;
  height: 1.25rem;
  color: #fff;
  background-color: #00a0d1;
  border-color:transparent;
  border-radius: 1.125rem;
  min-width: 3.4rem;
  font-size: .875rem;
  cursor: pointer;
  border:none;
  left: 2px;
}

.member_admit_icon:hover{
  background-color: #007AA0;
  cursor:pointer;
}

.member_name {
  margin-left: 35px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-align: left;
}

.member_option {
  border-radius: 30%;
  height: 22px;
  left: 4px;
  margin-top:2px;
  padding: 3px;
  position: absolute;
}

.member_mute_icon {
  background: #ff5c4a;
}

.mobileLandscapeImg {
  height:35px;
}

.mobilePortraitImg {
  height:60px;
}

.myheader {
  flex: 0 1 auto;
}

.myrow {
  display: flex;
  justify-content: center;
  position: relative;
}

.pad-text {
  padding-left: 5px;
  padding-top: 10px;
}

.padit {
  padding: 10px;
}

.people {
  background-color:white;
  height: 100%;
  position: absolute;
  right:0;
  padding-top: 65px;
  overflow: hidden;
  width: 20%;
}

.people_button {
  z-index:7;
  position: absolute;
  right:10%;
  transform: translateX(32px);
}

.radio-input {
  margin-right: 5px;
}

.remote {
  height: calc(100% - 88px);
  z-index: 2;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.remote_video {
  display: block;
  z-index: 3;
  max-height: 100%;
  height: 100%;

  background-color:grey;
}

.self {
  position: absolute;
  z-index: 4;
  display: inline-block;
}

.self_video {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 5;

  background-color:black;
}

.self_share {
  left:20%;

  background-color:red;
}

.sms-button {
  position: absolute;
}

#background_url {
  min-width: 300px;
}

#call_buttons {
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  bottom:0;
  margin-bottom:10px;
  z-index: 1000;
}

#call_container {
  flex: 1 1 auto;
  text-align: center;
  z-index:1;
}

#close-settings {
  position: absolute;
  right:0;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 5px;
	cursor:pointer;
}

#error-number-input {
  display: none;
  color: red;
}

#expire_div {
  width:max-content;
}

#expiry_radio_div-custom {
  display: inline-flex;
}

#expiry_radio-custom-dateselector {
  display: inherit;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#selectedColor {
  width:30px;
  height:20px;
  border-radius: 5px;
}

#settings-content {
  padding: 15px;
	padding-top: 30px;
	text-align: left;
}

#sms-input{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 30px;
  border-radius:20px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#spinner {
  position: absolute;
  margin-top: -20px;

  animation: 1.5s linear infinite spinner;
}

#toggles {
  max-width: fit-content;
  display: grid;
  justify-items: left;
}