.self {
  /*background-color: yellow;*/
  position: absolute;
  /*width: 200px;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
  z-index: 100;
  display: inline-block;
}
.remote {
  /*background-color: green;
        /*position: absolute;*/
  width: 90%;
  /*padding-top: 56.25%; /* 16:9 Aspect Ratio */
  z-index: 10;
  display: inline-block;
}
.remote_video {
  width: 100%;
}
.self_video {
  width: 100px;
}
.padit {
  padding: 10px;
}
#call_container {
  text-align: center;
  /*display: flex*/
}
