.self {
  position: absolute;
  z-index: 100;
  display: inline-block;
}
.remote {
  width: 90%;
  z-index: 10;
  display: inline-block;
}
.remote_video {
  width: 100%;
}
.self_video {
  width: 100px;
}

.display-radio {
  display:table;
}

.radio-input {
  margin-right: 5px;
}

.copy-button {
  margin-left: 5px;
}

.padit {
  padding: 10px;
}

.headerrow {
  font-size: 2.25rem;
  line-height: 2.25rem;
  height:90px;
  padding-top:30px;
  background-image: linear-gradient(to right, red, white, blue);
}

.myrow {
  display: flex;
  justify-content: center;
}

.call-button {
  float:left;
}

.link-cell {
  min-width: 100px;
}

#call_container {
  text-align: center;
}
