doctype html
head
  title Welcome to a Webex Platform demo on Glitch!
  meta(name='description' content='A cool Webex Programmable Platform demo made with Glitch')
  link#favicon(rel='icon' href='images/favicon.ico' type='image/x-icon')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel='stylesheet' href='css/collab-ui.min.css')
  link(rel='stylesheet' href='css/momentum-ui.min.css')
  link(rel='stylesheet' href='css/mystyle.css')
  link(rel='stylesheet' href='css/guest.css')

  script(src='https://browser.sentry-cdn.com/5.23.0/bundle.tracing.min.js' crossorigin='anonymous')
  script(src="js/phoneNumberValidate.js")
  script(src='js/client.js' defer='')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
  link(rel='stylesheet' type='text/css' href='https://npmcdn.com/flatpickr/dist/themes/dark.css')
  script(src='https://cdn.jsdelivr.net/npm/flatpickr')
header.padit.md-top-bar.md-top-bar--dark.myrow(role='navigation')
  .padit.md-top-bar__container
    .md-top-bar__brand
      a.md-brand(href='/')
        .md-brand__logo.md-brand__logo--pad
          // Note: use either image or icon, but not both
          // img src="/assets/spark-logo.svg" alt="Momentum UI"
          i.icon.icon-cisco-logo
        .md-brand__title     Webex Demo Session Generator
#container(align='center' style='margin: 10px; align-content: center;')
  main
    div#overlay
      div#sms-input
        | Enter a mobile number to send link
        br
        input#number-input.cui-input(type="text")
        br
        p#error-number-input
        br
        button#send-sms.cui-button(onclick='sendSMS();')
          | Send SMS
        br
        img#spinner(src="images/icons/spinner_16.png")
    br
    section#guest_info_section.dreams
      p.bold
      h4 To what endpoint should we connect the users?
      div#sip_uri_radio.display-radio
        div#sip_uri_radio-pmr
          input.radio-input(type="radio", name="sip_uri", value="pmr", checked)
          | My Personal Meeting Room
        div#sip_uri_radio-custom
          input.radio-input(type="radio", name="sip_uri", value="custom")
          | #[input#sipuri.cui-input(type='email' placeholder='SIP URI or roomId' required='')]
      //input#sipuri.cui-input(type='email' placeholder='SIP URI or roomId' required='')
      p
      br
      p.bold
      h4 When should the session expire?
      h5#selected_expiry
        | Select a Date and Time...
      i#flatpckr.md-button--circle.md-button--48.cui-icon.icon.icon-calendar-month_36(style='color:#000000')
      p
      br
      button#create_button.cui-button
        | Create Session
    section
      div
        br
        p#messages
    section#send_as_email_section.dreams(style='display:none;')
      br
      button#reload_button.cui-button(onclick='window.location.reload();')
        | Create Another Session
  br
  footer
    | Made with 
    a(href='https://developer.webex.com') Cisco Webex
    | !
